@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shadows+Into+Light&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&family=Merriweather&family=Playfair+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-1 {
  font-family: "Merriweather", serif;
}
.font-2 {
  font-family: "Lato", sans-serif;
}
.font-3 {
  font-family: "Merriweather", serif;
}

.font-4 {
  font-family: "Playfair Display", serif;
}

.locomotive-section {
  transition: transform 1s ease
}


